<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>App under construction</h1>
            <a class="btn btn-primary" href="/dress/today">Go to dresses</a>
        </div>
    </div>
</div>
